<div class="flex bg-gradient-to-r from-green-200 to-blue-600 h-screen w-screen items-center flex-col">
    <img src="../../../assets/klee-logo.svg" class="w-1/5" alt="Klee Logo">
    <div class="w-1/4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-10 flex flex-col overflow-auto">
        <form [formGroup]="registerDetails" (ngSubmit)="onSubmit()"> 
         <div class="mb-4">
             <label class="block text-grey-darker text-5xl font-bold mb-10" for="username">
                 Register
                 <hr class="solid">
             </label>
         <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
             Username
         </label>
         <input formControlName="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" placeholder="Username">
         <p class="text-red-600 text-sm italic mt-2" *ngIf="!usernameLength">Username must be more than 3 characters</p>
         </div>

         <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Email
            </label>
            <input formControlName="email" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker" id="text" type="email" placeholder="name@doman.com">
            <p class="text-red-600 text-sm italic mt-2" *ngIf="!validEmail">Email is invalid</p>
        </div>

         <div class="mb-12">
         <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
             Password
         </label>
         <input formControlName="password" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-2" id="password" type="password" placeholder="******************">
         <p class="text-red-600 text-xs italic" *ngIf="!passwordLength">Password must be more than 8 characters</p>
         <p class="text-red-600 text-xs italic" *ngIf="!passwordLowercase">Password must include at least 1 uppercase letter (A-Z)</p>
         <p class="text-red-600 text-xs italic" *ngIf="!passwordUppercase">Password must include at least 1 lowercase letter (a-z)</p>
         <p class="text-red-600 text-xs italic" *ngIf="!passwordNumber">Password must include at least 1 number (0-9)</p>
         <p class="text-red-600 text-xs italic" *ngIf="!passwordSpecial">Password must include at least 1 special character</p>
         <p class="text-red text-xs italic">Please choose a password.</p>
         <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
            Repeat Password
        </label>
        <input  formControlName="password2" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-2" id="password" type="password" placeholder="******************">
        <p class="text-red-600 text-sm italic" *ngIf="!passwordsMatch">Passwords must match</p>
        <p class="text-red-600 text-sm italic" *ngIf="!formCompleted"> Please fill in all fields</p>
         </div>
         <div class="flex items-center justify-between">
            <button *ngIf="!registered" class="bg-blue-500 hover:bg-blue-900 text-white text-2xl font-bold py-2 px-4 rounded"
                type="submit">
                Register
            </button>
            <button *ngIf="registered" class="bg-green-500 g:bg-green-900 text-white text-1xl font-bold py-2 px-4 rounded"
                type="button">
                Registered: Check Email
            </button>
            <a class=" align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="/login">
                Already have an account? <p class="text-end underline">Sign In</p>
            </a>
            
        </div>
        </form>
     </div>
</div>

<router-outlet></router-outlet>
