<div class="flex bg-gradient-to-r from-green-200 to-blue-600 h-screen w-screen items-center flex-col">
    <img src="../../../assets/klee-logo.svg" class="w-1/5" alt="Klee Logo">
    <div class="w-1/4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-10 flex flex-col">
        <form [formGroup]="emailDetails" (ngSubmit)="onSubmit()"> 
        <div class="mb-4">
            <label class="block text-grey-darker text-5xl font-bold mb-10" for="username">
                Reset Password
                <hr class="solid">
            </label>
            <div class="mb-12">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                    Email
                </label>
                <input formControlName="email" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="text" type="email" placeholder="name@doman.com">
                <p class="text-red-600 text-sm italic mt-2" *ngIf="!validEmail">Email is invalid</p>
                <p class="text-red text-xs italic">A password reset link will be sent to your email</p>
            </div>
            <div class="flex items-center justify-between">
                <button *ngIf="!submitted" class="bg-blue-500 hover:bg-blue-900 text-white text-2xl font-bold py-2 px-4 rounded" type="submit">
                    Reset Password
                </button>
                <button *ngIf="submitted" class="bg-green-500 hover:bg-green-900 text-white text-2xl font-bold py-2 px-4 rounded" type="button">
                    Email Sent
                </button>
                <a class="inline-block align-baseline font-bold underline text-sm text-blue hover:text-blue-darker" href="/login">
                    Return to Sign In
                </a>
            </div>
        </div>
        </form>
    </div>
</div>

<router-outlet></router-outlet>